.stack-work/**/*
.stack-work/stack.sqlite3
.stack-work/dist/x86_64-linux-tinfo6/Cabal-3.4.1.0/setup-config
.stack-work/dist/x86_64-linux-tinfo6/Cabal-3.4.1.0/build/gloss-counter/gloss-counter-tmp/Controller.hi
